{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for billets in billets %}
<article>
    <h2><a class="billetsTitre" href="{{ path('billets', { 'id': billets.id }) }}">{{ billets.titre }}</a></h2>
    <p>{{ billets.contenu }}</p>
</article>
{% endfor %}
{% endblock %}