{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for billets in billets %}
<billets>
    <h2><a class="billetsTitle" href="{{ path('billets', { 'id': billets.id }) }}">{{ billets.title }}</a></h2>
    <p>{{ billets.content |raw}}</p>
    
</billets>
{% endfor %}
{% endblock %}