<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="moncms.css" rel="stylesheet" />
    <title>moncms - Home</title>
</head>
<body>
    <header>
        <h1>Billets pour l'alaska</h1>
    </header>
    {% for billets in billets %}
    <article>
        <h2>{{ billets.titre }}</h2>
        <p>{{ billets.contenu }}</p>
    </article>
    {% endfor %}
    <footer class="footer">
        <a href="<a href="<a href="https://github.com/bpesquet/OC-MicroCMS">https://github.com/bpesquet/OC-MicroCMS</a>"><a href="https://github.com/bpesquet/OC-MicroCMS">https://github.com/bpesquet/OC-MicroCMS</a></a>">MicroCMS</a> is a minimalistic CMS built as a showcase for modern PHP development.
    </footer>
</body>
</html>